
@model IEnumerable<cs335.Models.JointProductModel>

@{
    ViewBag.Title = "WebGridSql";
}

<h2>WebGridSql</h2>

<div>

@{
    var grid = new WebGrid(null, columnNames: new[] { "ProductID", "ProductName", "CategoryName", "CompanyName", "Country" }, defaultSort: ViewBag.sort, rowsPerPage: ViewBag.rowsPerPage);
    grid.Bind(Model, rowCount: ViewBag.count, autoSortAndPage: false);
    @grid.GetHtml(columns: grid.Columns(grid.Column("ProductID"),grid.Column("ProductName"),grid.Column("CategoryName"),grid.Column("CompanyName"),grid.Column("Country" )))
}
    

<!-- reference: http://www.campusmvp.net/blog/webgrid-in-mvc-3-step-by-step-one -->

</div>